  /* Web Page Properties */
  nav {
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  body {
    min-width: 100vw;
    min-height: 100vh;
  }

  main {
    min-width: 100vw;
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  .cell {
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  /* Grid Properties*/
  #grid {
    display: flex;
  }

  .columns {
    display: flex;
  }
  /* Node Styles */
  #startNode:hover {
    cursor: grab;
  }
  
  #endNode:hover {
    cursor: grab;
  }
  
  .pathNode {
    background-color: rgb(255, 174, 0);
  }
  
  .obstacle{
    background-color: rgb(88, 88, 88);
  }

  @media only screen and (max-width: 992px){

    main{
      flex-direction: column;
    }

    .cell {
      height: 15px;
      width: 15px;
    }

    footer{
      position: initial;
      margin-top: 1em;
    }
  }